<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <!--link rel="icon" href="../../favicon.ico"-->

        <title>FTI Trelew - TP Final Martinez Pazos</title>

        <!-- Bootstrap core CSS -->
        <link href="../static/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/css/fti-recognizer.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <!--link href="carousel.css" rel="stylesheet"-->

    </head>
    <!-- NAVBAR -->
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">FTI - Trelew</a>
            </div>
          </div>
        </nav>

        <div class="content">
            <div class="container container-main" id="page-content">
                {% block content %} {% endblock content %}
            </div>
        </div>
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../static/js/fti-recognizer.js"></script>
        <script type="text/javascript">
            $(document).ready(setup());
        </script>
    </body>
</html>

